PORT=
JWT_SECRET=
JWT_REFRESH_SECRET=

DB_USER=
DB_PASSWORD=
DB_HOST=
DB_NAME=
DB_PORT=
MONGO_URI=

FRONTEND_URL=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
MAIL_FROM=

S3_ENDPOINT=
S3_REGION=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
# B2_BUCKET_NAME=
# B2_CHUNK_SIZE=

# B2_APPLICATION_KEY_ID=5e43846a3733
# B2_APPLICATION_KEY=005c73ef266cf525e0a2ba5fc83af6e3a79abad98b
S3_BUCKET_NAME=
S3_CHUNK_SIZE=  # (optional) 10 MB
S3_PRESIGNED_URL_EXPIRY=   # (optional) 1 hour

# CORS Configuration
CORS_ORIGIN=

# Temporal Configuration
TEMPORAL_HOST=
WORKER_CALLBACK_TOKEN=
BACKEND_INTERNAL_URL=

QUERY_SERVICE_URL=

QDRANT_URL=